@media(max-width: 780px){

	body{
		width: 100%;
	}

	header nav, header nav div{
		width: 90%;
	}

	header .container-input{
		width: 90%;
		padding-left: 1rem;
	}

	header .container-input input{
		margin-left: 1rem;
	}

	.news article{
		width: 80%;
	}

	.news article:nth-child(1){
		margin-top: 50px;
	}

}