@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lexend+Deca&display=swap');
*{
	margin:0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

:root {
  --blue: #3EA1DB;
  --blue-dark: #574AE8;
  --white: #FFF;
  --background: #E5E5E5;

  --title: #313131;
  --text: #B6B6B6;
  
  --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%); 
}

body{
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: column;

	font-family: 'Lexend Deca', sans-serif;
	color: var(--white);

	background-color: var(--background);
}


.sr-only{
	position: absolute;
	height: 1px;
	width: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip-path: rect(0,0,0,0);
	white-space: nowrap;
	border-width: 0;
}

header{
	background: var(--linear);

	height: 250px;
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

header nav{
	width: 900px;
	max-width: 800px;
	height: 168px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

header nav > div{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

header nav div > h1,h2{
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

header .container-input{
	width: 900px;
	max-width: 800px;
	height: 65px;

	background-color: rgba(255,255,255,0.2);

	border-radius: 5px;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.container-input input{
	width: 90%;
	height: 60%;

	background-color: transparent;
	outline: none;

	font-size: 18px;
	font-weight: 500;

	font-family: 'Inter', sans-serif;
	color: var(--white);
}

.container-input input::placeholder{
	color: var(--white);
	opacity: 0.5;
}

.container-input i {
	color: white;
	font-size: 1.5rem;
}

.news{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.news article{
	color: var(--text);
	height: auto;
	width: 900px;

	background-color: var(--white);

	display: flex;
	flex-direction: column;
	justify-content: center;

	border-radius: 5px;
	margin-bottom: 50px;
}

.news article:nth-child(1){
	margin-top: 100px;
}

.news article .container-date-like{
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 24px 24px 0px 24px;
}

.news article .container-date-like h2{
	font-size: 16px;
}

.news article .container-date-like i{
	color: var(--blue-dark);
	font-size: 21px;
}

.new{
	font-family: 'Lexend Deca', sans-serif;
	padding: 22px 25px 25px 25px;
}

.new h1{
	margin-bottom: 8px;

	color: var(--title);
	font-size: 26px;
}

.new p{
	font-size: 18px;
	font-weight: normal;
	text-align: justify;

	line-height: 32px;
}